//- 手機下才出的加入會員box
.pop-login_box
    display: none
    @extend %outer-width1200
    position: relative
    @media screen and (max-width: 39.9375em)
        display: block
    .pop-login
        position: absolute
        right: 0
        left: 0
        top: -30px
        background: #ffffff
        box-shadow: 0 2px 8px rgba(0,0,0,.05)
        border-radius: 10px
        padding: 20px
        text-align: center
        @extend %flex-direction-column
        .Title
            font-size: 16px
            margin-bottom: 10px
        .text
            font-size: 13px
            font-weight: 300
            width: 80%
            margin-bottom: 10px
        .login-btn
            background: $cl-yellow
            border: 0
            border-radius: 5px
            padding: 8px 35px
            font-size: 14px
            color: #ffffff
        .close-btn
            position: absolute
            right: 10px
            top: 10px
            background: #ffffff
            border: 0
            img
                width: 15px



//- 介紹盯房網理念
.description_wrapper
    @extend %outer-width1200
    padding: 50px 0
    @media screen and (max-width: 39.9375em)
        padding: 180px 0 30px
    .Title
        font-size: 26px
        text-align: center
        margin-bottom: 30px
        @media screen and (max-width: 39.9375em)
            font-size: 20px

    .description-con
        @extend %flex-justify-between-wrap
        width: 100%
        .description
            width: 31%
            padding: 30px
            box-shadow: 0 2px 20px 0 rgba(0,0,0,.05)
            background: #ffffff
            @media screen and (max-width: 39.9375em)
                width: 100%
                display: flex
                align-items: flex-start
                justify-content: space-between
                padding: 20px
                margin-bottom: 15px
                border-radius: 10px
        .icon-img
            img
                width: 45px
                @media screen and (max-width: 39.9375em)
                    width: 30px
        .slogan
            @media screen and (max-width: 39.9375em)
                width: calc(100% - 50px)
        .title
            font-size: 20px
            font-weight: 500
            padding: 20px 0 15px
            @media screen and (max-width: 39.9375em)
                padding: 0 0 5px
                font-size: 16px
        .text
            font-weight: 300
            @media screen and (max-width: 39.9375em)
                font-size: 12px



//- 熱門tag
.tag_wrapper
    @extend %outer-width1200
    padding: 50px 0
    @media screen and (max-width: 39.9375em)
        padding: 30px 0
    .title
        font-size: 18px
        margin-bottom: 20px
    .tag-con
        @extend %flex-wrap-align-center
        .tag
            background: #ffffff
            border: 1px solid #f7f7f7
            box-shadow: 0 2px 8px rgba(0,0,0,.05)
            border-radius: 50px
            font-size: 14px
            font-weight: 300
            padding: 8px 25px
            margin: 0 15px 15px 0
            &:hover
                border: 1px solid $cl-green
                background: $cl-green
                color: #ffffff


//- 推薦地區
.topDestination_wrapper
    @extend %outer-width1200
    padding: 50px 0
    @media screen and (max-width: 39.9375em)
        padding: 30px 0
    .title
        font-size: 18px
        margin-bottom: 20px

    .destination-scroll
        @media screen and (max-width: 820px)
            overflow: hidden
            white-space: nowrap
            overflow-x: scroll
            -webkit-overflow-scrolling: touch
            padding-bottom: 10px

    .destination-scroll::-webkit-scrollbar 
        @media screen and (max-width: 39.9375em)
            display: none

    .destination-con
        @extend %flex-align-center
        @media screen and (max-width: 820px)
            width: 845px
        .item
            width: 25%
            overflow: hidden
            background-position: center
            background-size: cover
            height: 180px
            border-radius: 4px
            margin-right: 15px
            transition: all .3s
            @media screen and (max-width: 820px)
                width: 200px
                height: 120px
            &:hover
                transform: translateY(-10px)

        .item:last-child
            margin-right: 0

        a
            width: 100%
            height: 100%
            background: rgba(0,0,0,.1)
            @extend %flex-direction-column

            .MainTitle
                color: #ffffff
                font-size: 20px
                font-weight: 500
            .SubTitle
                color: #ffffff
                font-size: 14px
