//- siderbar
.sidebar-wrap
    width: 240px
    @media screen and (max-width: 800px)
        width: 100%
    .user-wrap
        background: #ffffff
        border-radius: 5px
        padding: 30px
        @extend %flex-direction-column
        margin-bottom: 25px
        @media screen and (max-width: 39.9375em)
            flex-direction: row
            padding: 30px 20px
            margin-bottom: 10px

        .user-box
            @extend %flex-direction-column
            @media screen and (max-width: 39.9375em)
                flex-direction: row
                justify-content: flex-start
                width: calc(100% - 45px)
        .user-image
            width: 130px
            height: 130px
            border-radius: 50%
            background-position: center
            background-size: cover
            background-image: url(/images/noimg.svg)
            @media screen and (max-width: 39.9375em)
                width: 85px
                height: 85px
        .user-name
            margin: 20px 0 30px
            width: 180px
            overflow:  hidden
            white-space:  nowrap
            text-overflow:  ellipsis
            text-align: center
            @media screen and (max-width: 39.9375em)
                width: calc(100% - 85px - 50px)
                margin: 20px 0 30px 30px
                text-align: left
        .signOut-btn
            background: #ffffff
            border: 1px solid #eeeeee
            border-radius: 50%
            width: 45px
            height: 45px
            @extend %flex-center
            &:hover
                box-shadow: 0 0 5px rgba(0,0,0,.05)
            img
                width: 25px

    .user-menu
        background: #ffffff
        border-radius: 5px
        @media screen and (max-width: 39.9375em)
            display: none
        .menu-link
            border-bottom: 1px solid #eeeeee
            a
                font-size: 14px
                padding: 15px 30px
                @extend %flex-justify-between
                &:hover
                    background: #F4F7EA
        .menu-link:last-child
            border-bottom: 0
        .menu-link.active
            border-left: 4px solid $cl-green
            a
                color: $cl-green

    .min-user-menu
        display: none
        background: #ffffff
        @media screen and (max-width: 39.9375em)
            display: flex
        .menu-wrap
            @extend %flex-justify-between
            width: 100%
        .menu-link
            width: 30%
            a
                font-size: 12px
                padding: 15px 20px
                width: 100%
                height: 78px
                @extend %flex-direction-column
                &:hover
                    background: #F4F7EA
                @media screen and (max-width: 39.9375em)
                    &:hover
                        background: #ffffff
                @media screen and (max-width: 370px)
                    padding: 15px 20px
                    
            svg
                width: 25px
                margin-bottom: 5px
        .menu-link.active
            svg
                .cls-1
                    fill: $cl-green
            a
                color: $cl-green



//- content
.content-wrap
    width: calc(100% - 240px - 30px)
    @media screen and (max-width: 800px)
        width: 100%
    @media screen and (max-width:800px)
        padding: 20px 0
    @media screen and (max-width: 39.9375em)
        margin-top: 10px
        padding: 20px
        background: #ffffff
    .Title
        font-size: 20px
        margin-bottom: 20px
        @media screen and (max-width: 39.9375em)
            font-size: 18px


//- 我的追蹤
.follow-outer
    .nav-tabs
        @extend %flex-align-center
        border-bottom: 1px solid #eaeaea
    .list-tab
        a
            padding: 10px 25px
            &:hover
                color: $cl-green
            @media screen and (max-width: 39.9375em)
                font-size: 14px
                padding: 10px 20px

    .list-tab.active
        position: relative
        a
            color: $cl-green
        &::after
                content: ''
                position: absolute
                bottom: -2px
                right: 0
                left: 0
                border-bottom: 3px solid $cl-green

.follow-cards_wrapper
    .follow-card
        margin: 20px 0
        .card_head
            @extend %flex-justify-between
            .edit-btn
                button
                    background: #f1f1f1
                    border: 0
                    border-radius: 20px