.footer_wrapper
    background: #ffffff
    border-top: 1px solid #f1f1f1
    margin-top: 50px
    @media screen and (max-width: 39.9375em)
        margin-bottom: 60px

    .footer
        @extend %outer-width1200
        padding: 40px 0
        @media screen and (max-width: 39.9375em)
            padding: 20px 0

    .footer_link
        @extend %flex-center
        margin-bottom: 15px
        a
            color: #4f4f4f
            font-size: 14px
            padding: 0 20px
            @media screen and (max-width: 39.9375em)
                font-size: 12px
                padding: 0 15px

            &:hover
                text-decoration: underline

    .footer_copyright
        color: #4f4f4f
        font-size: 12px
        font-weight: 300
        text-align: center
        @media screen and (max-width: 39.9375em)
            font-size: 10px